body {
    background-color: #ffffff;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.countdown-box {
    background-color: #007bff;
    color: #0e49ea;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

h1, h2, h3, h4 {
    margin: 0;
    
}



form {
    max-width: 400px;
    margin: 0 auto;
}


.btn {
    margin-right: 10px;
}